* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

}

body {
  min-width: 1100px;
}

.titlepage {
  width: 100%;
  height: 100vh;
  background: linear-gradient(245deg, #13208B 0%, rgba(255, 255, 255, 0.00) 49.07%), linear-gradient(49deg, #824496 -13.29%, rgba(186, 152, 197, 0.55) 16.05%, rgba(255, 255, 255, 0.00) 52.21%);
  background-size: cover;
  background-position: center;
}


.content {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Kadwa";
  line-height: 1.1;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 35px;
  padding: 100px;
  color: #F0C966;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  ;
  font-size: 70px;
}

.entries-btn {
  display: inline-block;
  text-decoration: none;
  width: 300px;
  padding: 25px 5px;
  text-align: center;
  margin: 40px 10px;
  border: none;
  border-radius: 40px;
  font-family: "Assistant";
  font-size: 30px;
  font-weight: 700;
  position: relative;
  color: #EAB837;
  background-color: #FFE193;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
}

.entries-btn:hover{
  background-color: #ffd364;
  color: #fff;
}


*,
*::after
*::before {
  box-sizing: border-box;
 }

 .entries {
  width: 100%;
  height: 100vh;
  background: linear-gradient(245deg, #13208B 0%, rgba(255, 255, 255, 0.00) 49.07%), linear-gradient(49deg, #824496 -13.29%, rgba(186, 152, 197, 0.55) 16.05%, rgba(255, 255, 255, 0.00) 52.21%);
  background-size: cover;
  background-position: center;
 }

 .btn-white {
  display: inline-block;
  text-decoration: none;
  width: 300px;
  padding: 25px 5px;
  text-align: center;
  margin: 40px 10px;
  border: none;
  border-radius: 40px;
  font-family: "Assistant";
  font-size: 30px;
  font-weight: 700;
  position: relative;
  color: #EAB837;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
}


.btn{
  padding: 10px 20px;
  border: 0;
  outline: none;
  background: none;
  height: auto;
}



:root {
  --base-grid: 8px;
  --colour-white: #fff;
  --colour-black: #1a1a1a;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(245deg, #13208B 0%, rgba(255, 255, 255, 0.00) 49.07%), linear-gradient(49deg, #824496 -13.29%, rgba(186, 152, 197, 0.55) 16.05%, rgba(255, 255, 255, 0.00) 52.21%);
  background-position: 100%;
}



.links {
  --link-size: calc(var(--base-grid)*20);
  color: var(--colour-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.links__list {
  position: relative;
  list-style: none;
}

.links__item {
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--link-size)/-2);
  margin-left: calc(var(--link-size)/-2);
  --angle: calc(360deg/var(--item-total));
  --rotation: calc(200deg + var(--angle)*var(--item-count));
  transform: rotate(var(--rotation)) translate(calc(var(--link-size) + var(--base-grid)*16)) rotate(calc(var(--rotation)*-1));
}

.links__link {
  opacity: 0;
  animation: on-load .3s ease-in-out forwards;
  animation-delay: calc(var(--item-count)*150ms);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.links__icon {
  width: calc(var(--base-grid)*17);
  height: calc(var(--base-grid)*17);
  transition: all .3s ease-in-out;
  fill: var(--colour-black);
  
}

.links__link:after {
  content: "";
  background-color: transparent;
  width: var(--link-size);
  height: var(--link-size);
  border: 2px dashed #ffd364;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s cubic-bezier(.53,-.67,.73,.74);
  transform: none;
  opacity: 0;
}

.links__link:hover .links__icon {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}

.links__link:hover .links__text {
  display: block;
}

.links__link:hover:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  70% {
    opacity: .7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(calc(var(--base-grid)*5));
  }
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}



.entry2 {
  background-color: #707bd8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry2 .div {
  background-color: #707bd8;
  width: 100%;
  height: 6692px;
  position: relative;
}

.entry2 .overlap {
  position: absolute;
  width: 1457px;
  height: 937px;
  top: 26px;
  left: 27px;
}

.entry2 .rectangle {
  width: 1457px;
  height: 929px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 20px;
  border: 3px solid;
  border-color: #ffffff;
}

.entry2 .text-wrapper {
  position: absolute;
  width: 1125px;
  top: 51px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Bungee Shade";
  font-weight: 400;
  color: #ffffff;
  font-size: 120px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.entry2 .line {
  width: 660px;
  top: 366px;
  left: 399px;
  position: absolute;
  height: 3px;
}

.entry2 .group {
  position: absolute;
  width: 775px;
  height: 587px;
  top: 350px;
  left: 341px;
}

.entry2 .star {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 349px;
  left: 75px;
}

.entry2 .img {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 678px;
  left: 166px;
}

.entry2 .star-2 {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 205px;
  left: 1174px;
}

.entry2 .star-3 {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 523px;
  left: 1312px;
}

.entry2 .star-4 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 207px;
  left: 166px;
}

.entry2 .star-5 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 512px;
  left: 269px;
}

.entry2 .star-6 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 399px;
  left: 1160px;
}

.entry2 .star-7 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 786px;
  left: 1220px;
}

.entry2 .star-8 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 76px;
  left: 75px;
}

.entry2 .star-9 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 52px;
  left: 261px;
}

.entry2 .star-10 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 824px;
  left: 83px;
}

.entry2 .star-11 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 862px;
  left: 341px;
}

.entry2 .star-12 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 585px;
  left: 52px;
}

.entry2 .star-13 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 331px;
  left: 1339px;
}

.entry2 .star-14 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 64px;
  left: 1160px;
}

.entry2 .star-15 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 645px;
  left: 1116px;
}

.entry2 .star-16 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 52px;
  left: 1339px;
}

.entry2 .star-17 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 732px;
  left: 1349px;
}

.entry2 .overlap-group {
  position: absolute;
  width: 100%;
  height: 2397px;
  top: 984px;
  left: 0;
  background-color: #ffe092;
}

.entry2 .p {
  position: absolute;
  width: 1098px;
  top: 146px;
  left: 129px;
  font-family: "Dosis";
  font-weight: 500;
  color: #d7a72b;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.entry2 .text-wrapper-2 {
  position: absolute;
  width: 1200px;
  top: 920px;
  left: 233px;
  font-family: "Dosis";
  font-weight: 500;
  color: #d7a72b;
  font-size: 60px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.entry2 .group-2 {
  position: absolute;
  width: 127px;
  height: 109px;
  top: 590px;
  left: 704px;
}

.entry2 .group-3 {
  position: absolute;
  width: 126px;
  height: 109px;
  top: 590px;
  left: 1006px;
}

.entry2 .group-4 {
  position: absolute;
  width: 126px;
  height: 109px;
  top: 590px;
  left: 1308px;
}

.entry2 .star-18 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 1520px;
  left: 137px;
}

.entry2 .star-19 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 2242px;
  left: 308px;
}

.entry2 .star-20 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 2204px;
  left: 955px;
}

.entry2 .star-21 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 1654px;
  left: 1355px;
}

.entry2 .star-22 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1912px;
  left: 1414px;
}

.entry2 .star-23 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 2138px;
  left: 1294px;
}

.entry2 .star-24 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 2288px;
  left: 1148px;
}

.entry2 .star-25 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 2243px;
  left: 630px;
}

.entry2 .star-26 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 2176px;
  left: 459px;
}

.entry2 .star-27 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 2131px;
  left: 152px;
}

.entry2 .star-28 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1723px;
  left: 92px;
}

.entry2 .star-29 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1464px;
  left: 414px;
}

.entry2 .star-30 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1539px;
  left: 653px;
}

.entry2 .star-31 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1479px;
  left: 1170px;
}

.entry2 .star-32 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 1509px;
  left: 866px;
}

.entry2 .group-5 {
  position: absolute;
  width: 126px;
  height: 109px;
  top: 590px;
  left: 398px;
}

.entry2 .overlap-group-wrapper {
  position: absolute;
  width: 120px;
  height: 103px;
  top: 589px;
  left: 113px;
}

.entry2 .vector-wrapper {
  position: relative;
  width: 126px;
  height: 109px;
  top: -2px;
  left: -2px;
  background-image: url(./img/vector-5.svg);
  background-size: 100% 100%;
}

.entry2 .vector {
  position: absolute;
  width: 30px;
  height: 75px;
  top: 16px;
  left: 6px;
}

.entry2 .text-wrapper-3 {
  position: absolute;
  width: 1146px;
  top: 1653px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Dosis";
  font-weight: 400;
  color: #cb9b1e;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry2 .group-wrapper {
  position: absolute;
  width: 1256px;
  height: 58px;
  top: 1319px;
  left: 139px;
}

.entry2 .group-6 {
  position: relative;
  height: 58px;
}

.entry2 .line-2 {
  width: 1235px;
  top: 28px;
  align-items: center;
  position: absolute;
  height: 3px;
}

.entry2 .line-3 {
  width: 1235px;
  top: 55px;
  align-items: center;
  position: absolute;
  height: 3px;
}

.entry2 .line-4 {
  width: 1235px;
  top: -3px;
  align-items: center;
  position: absolute;
  height: 3px;
}

.entry2 .overlap-2 {
  position: absolute;
  width: 1180px;
  height: 945px;
  top: 4109px;
  left: 166px;
}

.entry2 .star-33 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 339px;
  left: 571px;
}

.entry2 .star-34 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 657px;
  left: 571px;
}

.entry2 .typically-fortune {
  position: absolute;
  width: 1180px;
  top: 0;
  left: 0;
  font-family: "Dosis";
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry2 .open-fortune-cookie {
  position: absolute;
  width: 693px;
  height: 462px;
  top: 3423px;
  left: 63px;
  object-fit: cover;
}

.entry2 .line-5 {
  width: 573px;
  top: 3963px;
  left: 469px;
  position: absolute;
  height: 3px;
}

.entry2 .group-7 {
  position: absolute;
  width: 124px;
  height: 107px;
  top: 5450px;
  left: 688px;
}

.entry2 .group-8 {
  position: absolute;
  width: 123px;
  height: 107px;
  top: 5450px;
  left: 992px;
}

.entry2 .group-9 {
  position: absolute;
  width: 123px;
  height: 107px;
  top: 5450px;
  left: 1292px;
}

.entry2 .group-10 {
  position: absolute;
  width: 123px;
  height: 107px;
  top: 5450px;
  left: 382px;
}

.entry2 .group-11 {
  position: absolute;
  width: 123px;
  height: 107px;
  top: 5448px;
  left: 96px;
}

.entry2 .overlap-3 {
  position: absolute;
  width: 100%;
  height: 999px;
  top: 5693px;
  left: 0;
  background-color: #ffe193;
}

.entry2 .rectangle-2 {
  width: 1387px;
  height: 717px;
  top: 240px;
  left: 73px;
  position: absolute;
  border-radius: 20px;
  border: 3px solid;
  border-color: #ffffff;
}

.entry2 .text-wrapper-4 {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Bungee Shade";
  font-weight: 400;
  color: #ce9f26;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.entry2 .overlap-4 {
  position: absolute;
  width: 1387px;
  height: 717px;
  top: 240px;
  left: 73px;
  border-radius: 20px;
  border: 3px solid;
  border-color: #ffffff;
}

.entry2 .group-12 {
  position: absolute;
  width: 302px;
  height: 257px;
  top: 100px;
  left: 534px;
}

.entry2 .group-13 {
  position: absolute;
  width: 302px;
  height: 257px;
  top: 354px;
  left: 890px;
}

.entry2 .group-14 {
  position: absolute;
  width: 302px;
  height: 257px;
  top: 354px;
  left: 192px;
}



.entry1 {
  background-color: #eab5fb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry1 .div {
  background-color: #eab5fb;
  width: 100%;
  height: 3845px;
  position: relative;
}

.entry1 .overlap {
  position: absolute;
  width: 100%;
  height: 152px;
  top: 0;
  left: 0;
  background-color: #a155b9;
}

.entry1 .group {
  position: absolute;
  width: 649px;
  height: 128px;
  top: 18px;
  left: 420px;
}

.entry1 .arrow {
  position: absolute;
  width: 69px;
  height: 59px;
  top: 47px;
  left: 43px;
}

.entry1 .overlap-group {
  position: absolute;
  width: 771px;
  height: 830px;
  top: 152px;
  left: 0;
}

.entry1 .rectangle {
  position: absolute;
  width: 625px;
  height: 830px;
  top: 0;
  left: 0;
  background-color: #fbefff;
}

.entry1 .img {
  position: absolute;
  width: 626px;
  height: 592px;
  top: 96px;
  left: 145px;
}

.entry1 .overlap-2 {
  position: absolute;
  width: 100%;
  height: 2271px;
  top: 1574px;
  left: 0;
}

.entry1 .star {
  position: absolute;
  width: 64px;
  height: 74px;
  top: 2108px;
  left: 105px;
}

.entry1 .star-2 {
  position: absolute;
  width: 52px;
  height: 51px;
  top: 2064px;
  left: 59px;
}

.entry1 .rectangle-2 {
  position: absolute;
  width: 100%;
  height: 2271px;
  top: 0;
  left: 0;
  background-color: #f8e5ff;
}

.entry1 .star-3 {
  position: absolute;
  width: 64px;
  height: 74px;
  top: 2112px;
  left: 116px;
}

.entry1 .star-4 {
  position: absolute;
  width: 52px;
  height: 51px;
  top: 2068px;
  left: 70px;
}

.entry1 .rectangle-3 {
  position: absolute;
  width: 1313px;
  height: 1940px;
  top: 170px;
  left: 110px;
}

.entry1 .text-wrapper {
  position: absolute;
  height: 96px;
  top: 316px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Lily Script One-Regular", Helvetica;
  font-weight: 400;
  color: #824496;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry1 .set-the-mood-create {
  position: absolute;
  width: 1131px;
  height: 1162px;
  top: 657px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Meera Inimai-Regular", Helvetica;
  font-weight: 400;
  color: #824495;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry1 .group-2 {
  position: absolute;
  width: 1365px;
  height: 150px;
  top: 86px;
  left: 83px;
}

.entry1 .star-5 {
  position: absolute;
  width: 52px;
  height: 51px;
  top: 336px;
  left: 798px;
}

.entry1 .star-6 {
  position: absolute;
  width: 36px;
  height: 37px;
  top: 410px;
  left: 813px;
}

.entry1 .tarot-cards-known {
  position: absolute;
  width: 534px;
  height: 406px;
  top: 366px;
  left: 857px;
  font-family: "Lily Script One-Regular", Helvetica;
  font-weight: 400;
  color: #824495;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry1 .span {
  font-family: "Lily Script One-Regular", Helvetica;
  font-weight: 400;
  color: #824495;
  font-size: 30px;
  letter-spacing: 0;
}

.entry1 .text-wrapper-2 {
  font-family: "Meera Inimai-Regular", Helvetica;
  font-size: 24px;
}

.entry1 .overlap-3 {
  position: absolute;
  width: 100%;
  height: 592px;
  top: 982px;
  left: 0;
  background-color: #a155b9;
}

.entry1 .star-7 {
  position: absolute;
  width: 173px;
  height: 199px;
  top: 118px;
  left: 370px;
}

.entry1 .star-8 {
  position: absolute;
  width: 173px;
  height: 199px;
  top: 118px;
  left: 969px;
}

.entry1 .rectangle-4 {
  position: absolute;
  width: 1428px;
  height: 529px;
  top: 31px;
  left: 42px;
}

.entry1 .text-wrapper-3 {
  position: absolute;
  height: 50px;
  top: 329px;
  left: 348px;
  font-family: "Lily Script One-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry1 .text-wrapper-4 {
  position: absolute;
  height: 50px;
  top: 329px;
  left: 949px;
  font-family: "Lily Script One-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry1 .overlap-group-wrapper {
  position: absolute;
  width: 252px;
  height: 84px;
  top: 398px;
  left: 331px;
}

.entry1 .div-wrapper {
  position: relative;
  width: 250px;
  height: 84px;
  border-radius: 30px;
  border: 3px solid;
  border-color: #fbefff;
}

.entry1 .text-wrapper-5 {
  position: absolute;
  height: 59px;
  top: 14px;
  left: 33px;
  font-family: "Meera Inimai-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry1 .overlap-wrapper {
  position: absolute;
  width: 252px;
  height: 84px;
  top: 398px;
  left: 931px;
}

.entry3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry3 .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 3855px;
  position: relative;
}

.entry3 .line {
  position: absolute;
  width: 1391px;
  height: 3px;
  top: 127px;
  left: 59px;
}

.entry3 .arrow {
  position: absolute;
  width: 61px;
  height: 52px;
  top: 41px;
  left: 56px;
}

.entry3 .rectangle {
  position: absolute;
  width: 701px;
  height: 614px;
  top: 1485px;
  left: 732px;
  border-radius: 30px;
  border: 3px solid;
  border-color: #000000;
}

.entry3 .overlap {
  position: absolute;
  width: 701px;
  height: 7614pxx;
  top: 1485px;
  left: 732px;
  border-radius: 30px;
  border: 3px solid;
  border-color: #000000;
}

.entry3 .group {
  position: absolute;
  width: 666px;
  height: 573px;
  top: 24px;
  left: 15px;
}

.entry3 .tooltip-1,
.entry3 .tooltip-2,
.entry3 .tooltip-3,
.entry3 .tooltip-4,
.entry3 .tooltip-5 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.entry3 .tooltiptext {
  visibility: hidden;
  font-family: "Rambla";
  width: 200px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 600px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text on hover */
.entry3 .tooltip-1:hover .tooltiptext,
.entry3 .tooltip-2:hover .tooltiptext,
.entry3 .tooltip-3:hover .tooltiptext,
.entry3 .tooltip-4:hover .tooltiptext,
.entry3 .tooltip-5:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.entry3 .imgg {
  position: absolute;
  width: 434px;
  height: 652px;
  top: 62px;
  left: 482px;
}

.entry3 .overlap-img {
  position: absolute;
  width: 1405px;
  height: 748px;
  top: 3068px;
  left: 53px;
  border-radius: 30px;
  border: 3px solid;
  border-color: #000000;
}
.entry3 .star {
  position: absolute;
  width: 45px;
  height: 43px;
  top: 618px;
  left: 651px;
}

.entry3 .img {
  position: absolute;
  width: 45px;
  height: 43px;
  top: 591px;
  left: 748px;
}

.entry3 .star-2 {
  position: absolute;
  width: 45px;
  height: 43px;
  top: 504px;
  left: 627px;
}

.entry3 .star-3 {
  position: absolute;
  width: 45px;
  height: 43px;
  top: 454px;
  left: 693px;
}

.entry3 .star-4 {
  position: absolute;
  width: 45px;
  height: 43px;
  top: 374px;
  left: 745px;
}

.entry3 .overlap-group {
  position: absolute;
  width: 1285px;
  height: 691px;
  top: 173px;
  left: 165px;
}

.entry3 .overlap-2 {
  position: absolute;
  width: 1285px;
  height: 691px;
  top: 0;
  left: 0;
}

.entry3 .text-wrapper {
  position: absolute;
  width: 762px;
  height: 112px;
  top: 44px;
  left: 523px;
  font-family: "Paytone One";
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .overlap-group-wrapper {
  position: absolute;
  width: 553px;
  height: 614px;
  top: 77px;
  left: 0;
  border-radius: 30px;
  border: 3px solid;
  border-color: #000000;
}

.entry3 .group-2 {
  position: absolute;
  width: 453px;
  height: 516px;
  top: 77px;
  left: 50px;
}

.entry3 .star-5 {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 22px;
  left: 1224px;
}

.entry3 .star-6 {
  position: absolute;
  width: 61px;
  height: 59px;
  top: 0;
  left: 1158px;
}

.entry3 .palm-reading-also {
  position: absolute;
  width: 485px;
  height: 301px;
  top: 209px;
  left: 607px;
  font-family: "Rambla";
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .div-wrapper {
  position: absolute;
  width: 553px;
  height: 114px;
  top: 577px;
  left: 608px;
  border: 2px solid;
  border-color: #000000;
}

.entry3 .text-wrapper-2 {
  position: absolute;
  height: 49px;
  top: 30px;
  left: 113px;
  font-family: "Rambla";
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .overlap-3 {
  position: absolute;
  width: 1549px;
  height: 398px;
  top: 987px;
  left: 0;
}

.entry3 .rectangle-2 {
  position: absolute;
  width: 100%;
  height: 368px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(118.03, 201.94, 228.44) 0%, rgb(199.66, 255, 255) 100%);
}

.entry3 .the-lines-on-the {
  position: absolute;
  width: 1453px;
  top: 62px;
  left: 96px;
  font-family: "Paytone One";
  font-weight: 400;
  color: #2d5967;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .star-7 {
  position: absolute;
  width: 43px;
  height: 41px;
  top: 244px;
  left: 1402px;
}

.entry2 .star-8 {
  position: absolute;
  width: 61px;
  height: 59px;
  top: 261px;
  left: 1340px;
}

.entry3 .practitioners {
  position: absolute;
  width: 574px;
  top: 1561px;
  left: 111px;
  font-family: "Rambla";
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .star-9 {
  position: absolute;
  width: 79px;
  height: 76px;
  top: 871px;
  left: 71px;
}

.entry3 .star-10 {
  position: absolute;
  width: 75px;
  height: 79px;
  top: 1447px;
  left: 120px;
}

.entry3 .star-11 {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 905px;
  left: 166px;
}

.entry3 .star-12 {
  position: absolute;
  width: 61px;
  height: 59px;
  top: 1499px;
  left: 43px;
}

.entry3 .overlap-4 {
  position: absolute;
  width: 100%;
  height: 840px;
  top: 2227px;
  left: 0;
}

.entry3 .rectangle-3 {
  position: absolute;
  width: 100%;
  height: 669px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.entry4 .group-3 {
  position: absolute;
  width: 285px;
  height: 589px;
  top: 4726px;
  left: 613px;
}

.entry3 .p {
  position: absolute;
  width: 1264px;
  top: 281px;
  left: 124px;
  font-family: "Rambla";
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .text-wrapper-3 {
  position: absolute;
  top: 118px;
  left: 124px;
  font-family: "Paytone One";
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.entry3 .star-13 {
  position: absolute;
  width: 61px;
  height: 59px;
  top: 84px;
  left: 1384px;
}
.entry3 .text-wrapper-4 {
  position: absolute;
  width: 1014px;
  height: 112px;
  top: 717px;
  left: 249px;
  font-family: "Paytone One";
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry4 {
  background-color: #f0f7c6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry4 .div {
  background-color: #f0f7c6;
  width: 1512px;
  height: 5400px;
  position: relative;
}

.entry4 .overlap {
  position: absolute;
  width: 202px;
  height: 184px;
  top: 24px;
  left: 655px;
}

.entry4 .text-wrapper {
  position: absolute;
  top: 0;
  left: 12px;
  font-family: "Kavoon";
  font-weight: 400;
  color: #80db9f;
  font-size: 90px;
  letter-spacing: 0;
  line-height: normal;
}

.entry4 .text-wrapper-2 {
  position: absolute;
  top: 71px;
  left: 0;
  font-family: "Kavoon";
  font-weight: 400;
  color: #80db9f;
  font-size: 90px;
  letter-spacing: 0;
  line-height: normal;
}

.entry4 .line {
  position: absolute;
  width: 1327px;
  height: 5px;
  top: 224px;
  left: 92px;
}

.entry4 .arrow {
  position: absolute;
  width: 61px;
  height: 52px;
  top: 88px;
  left: 88px;
}

.entry4 .vector {
  position: absolute;
  width: 313px;
  height: 371px;
  top: 520px;
  left: 0;
}

.entry4 .img {
  position: absolute;
  width: 234px;
  height: 166px;
  top: 317px;
  left: 0;
}

.entry4 .vector-2 {
  position: absolute;
  width: 252px;
  height: 378px;
  top: 634px;
  left: 1175px;
}

.entry4 .vector-3 {
  position: absolute;
  width: 179px;
  height: 222px;
  top: 307px;
  left: 1266px;
}

.entry4 .vector-4 {
  position: absolute;
  width: 188px;
  height: 156px;
  top: 907px;
  left: 166px;
}

.entry4 .overlap-group {
  position: absolute;
  width: 1150px;
  height: 1295px;
  top: 2224px;
  left: 190px;
}

.entry4 .vector-5 {
  position: absolute;
  width: 188px;
  height: 156px;
  top: 0;
  left: 963px;
}

.entry4 .vector-6 {
  position: absolute;
  width: 221px;
  height: 212px;
  top: 1046px;
  left: 0;
}

.entry4 .omikuji-began-as-a {
  position: absolute;
  width: 899px;
  top: 106px;
  left: 121px;
  font-family: "Carrois Gothic";
  font-weight: 400;
  color: #5bbe7d;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 70px;
}

.entry4 .overlap-2 {
  position: absolute;
  width: 1512px;
  height: 995px;
  top: 1127px;
  left: 0;
  background-color: #abe6ae;
}

.entry4 .p {
  position: absolute;
  width: 849px;
  top: 150px;
  left: 331px;
  font-family: "Carrois Gothic";
  font-weight: 400;
  color: #258646;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 70px;
}

.entry4 .group {
  position: absolute;
  width: 138px;
  height: 850px;
  top: 65px;
  left: 55px;
}

.entry4 .group-2 {
  position: absolute;
  width: 138px;
  height: 850px;
  top: 58px;
  left: 1330px;
}

.entry4 .overlap-group-2 {
  position: absolute;
  width: 1512px;
  height: 819px;
  top: 3596px;
  left: 0;
  background-color: #abe6ae;
}

.entry4 .vector-7 {
  position: absolute;
  width: 968px;
  height: 578px;
  top: 124px;
  left: 274px;
}

.entry4 .daikichi-great {
  position: absolute;
  width: 1277px;
  top: 92px;
  left: 122px;
  font-family: "Carrois Gothic";
  font-weight: 400;
  color: #258646;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
}


.entry4 .ellipse {
  position: relative;
  width: 29px;
  height: 24px;
  top: 41px;
  left: 200px;
  border-radius: 14.44px/12.22px;
  border: 5px solid;
  border-color: #80db9f;
}

.entry4 .omikuji-unfold-your {
  position: absolute;
  top: 505px;
  left: 480px;
  font-family: "Carrois Gothic";
  font-weight: 400;
  color: #6fd290;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry4 .text-wrapper-3 {
  position: absolute;
  top: 4470px;
  left: 219px;
  font-family: "Kavoon";
  font-weight: 400;
  color: #80db9f;
  font-size: 100px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry4 .line-2 {
  position: absolute;
  width: 1327px;
  height: 5px;
  top: 4605px;
  left: 92px;



}.entry5 {
  background-color: #fff2c8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry5 .div {
  background-color: #fff2c8;
  overflow: hidden;
  width: 1512px;
  height: 5457px;
  position: relative;
}

.entry5 .overlap {
  position: absolute;
  width: 1512px;
  height: 347px;
  top: 0;
  left: 0;
}

.entry5 .rectangle {
  height: 220px;
  position: absolute;
  width: 1512px;
  top: 0;
  left: 0;
  background-color: #cee253;
}

.entry5 .arrow {
  position: absolute;
  width: 61px;
  height: 52px;
  top: 84px;
  left: 62px;
}

.entry5 .text-wrapper {
  position: absolute;
  width: 1197px;
  height: 256px;
  top: 131px;
  left: 157px;
  font-family: "Plaster";
  font-weight: 400;
  color: #000000;
  font-size: 140px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry5 .overlap-group {
  position: absolute;
  width: 1650px;
  height: 1658px;
  top: 2650px;
  left: 0;
}

.entry5 .rectangle-2 {
  height: 135px;
  position: absolute;
  width: 1512px;
  top: 0;
  left: 0;
  background-color: #cee253;
}

.entry5 .ellipse {
  position: absolute;
  width: 664px;
  height: 675px;
  top: 848px;
  left: 845px;
  background-color: #cee253ad;
  border-radius: 332.06px/337.29px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(46.53deg);
}

.entry5 .ellipse-2 {
  position: absolute;
  width: 299px;
  height: 400px;
  top: 434px;
  left: 155px;
  background-color: #fdfeb180;
  border-radius: 149.57px/200.15px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(-60.77deg);
}

.back-button {
  display: inline-block;
}

.entry5 .physiognomy-is-the {
  width: 1078px;
  height: 1424px;
  top: 334px;
  left: 217px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  font-family: "Questrial";
  font-weight: 400;
  text-align: right;
  letter-spacing: 0;
}

.entry5 .span {
  line-height: 55px;
}

.entry5 .text-wrapper-2 {
  font-size: 30px;
  line-height: 45px;
}

.entry5 .overlap-2 {
  position: absolute;
  width: 1365px;
  height: 831px;
  top: 466px;
  left: 92px;
}

.entry5 .overlap-3 {
  position: absolute;
  width: 718px;
  height: 191px;
  top: 0;
  left: 647px;
}

.entry5 .ellipse-3 {
  position: absolute;
  width: 679px;
  height: 166px;
  top: 25px;
  left: 39px;
  background-color: #cee253ad;
  border-radius: 339.5px/83px;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .p {
  width: 647px;
  height: 136px;
  top: 0;
  left: 0;
  color: #6e7d10;
  font-size: 50px;
  line-height: normal;
  position: absolute;
  font-family: "Questrial";
  font-weight: 400;
  text-align: right;
  letter-spacing: 0;
}

.entry5 .overlap-4 {
  position: absolute;
  width: 1294px;
  height: 825px;
  top: 6px;
  left: 0;
}

.entry5 .ellipse-4 {
  position: absolute;
  width: 428px;
  height: 329px;
  top: 496px;
  left: 219px;
  background-color: #cee253ad;
  border-radius: 214px/164.5px;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .ellipse-5 {
  position: absolute;
  width: 428px;
  height: 329px;
  top: 316px;
  left: 355px;
  background-color: #ffffff8c;
  border-radius: 214px/164.5px;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .group {
  position: absolute;
  width: 543px;
  height: 711px;
  top: 0;
  left: 0;
}

.entry5 .fortune-reading-in {
  position: absolute;
  width: 630px;
  height: 512px;
  top: 289px;
  left: 664px;
  font-family: "Questrial";
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.entry5 .overlap-5 {
  position: absolute;
  width: 1218px;
  height: 971px;
  top: 1472px;
  left: 135px;
}
.entry5 .tooltip-1,
.entry5 .tooltip-2,
.entry5 .tooltip-3,
.entry5 .tooltip-4,
.entry5 .tooltip-5,
.entry5 .tooltip-6,
.entry5 .tooltip-7 {
  position: absolute;
  display: inline-block;
}

/* Tooltip text */
.entry5 .tooltiptext {
  visibility: hidden;
  font-family: "Rambla";
  width: 200px;
  background-color: #cee253;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  font-family: "Questrial";
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 200px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text on hover */
.entry5 .tooltip-1:hover .tooltiptext,
.entry5 .tooltip-2:hover .tooltiptext,
.entry5 .tooltip-3:hover .tooltiptext,
.entry5 .tooltip-4:hover .tooltiptext,
.entry5 .tooltip-5:hover .tooltiptext,
.entry5 .tooltip-6:hover .tooltiptext,
.entry5 .tooltip-7:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.entry5 .ellipse-6 {
  position: absolute;
  width: 561px;
  height: 329px;
  top: 490px;
  left: 32px;
  background-color: #cee253ad;
  border-radius: 280.5px/164.5px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(46.53deg);
}

.entry5 .ellipse-7 {
  position: absolute;
  width: 583px;
  height: 400px;
  top: 152px;
  left: 209px;
  background-color: #fdfeb180;
  border-radius: 291.65px/200.15px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(-60.77deg);
}

.entry5 .HISTORY-OF {
  position: absolute;
  width: 822px;
  height: 198px;
  top: 92px;
  left: 3px;
  -webkit-text-stroke: 3px #7a8a15;
  font-family: "Plaster";
  font-weight: 400;
  color: transparent;
  font-size: 90px;
  letter-spacing: 0;
  line-height: normal;
}

.entry5 .physiognomy-which {
  position: absolute;
  width: 887px;
  height: 470px;
  top: 446px;
  left: 331px;
  font-family: "Questrial";
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: right;
  letter-spacing: 0;
  line-height: 45px;
}

.entry5 .overlap-6 {
  position: absolute;
  width: 1512px;
  height: 1050px;
  top: 4407px;
  left: 3px;
  background-color: #cee253;
}

.entry5 .text-wrapper-3 {
  position: absolute;
  top: 83px;
  left: 216px;
  font-family: "Plaster";
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry5 .overlap-7 {
  position: absolute;
  width: 1344px;
  height: 711px;
  top: 249px;
  left: 81px;
  border-radius: 30px;
}

.entry5 .ellipse-wrapper {
  position: absolute;
  width: 1344px;
  height: 711px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 30px;
  border: 3px solid;
  border-color: #000000;
}

.entry5 .img {
  position: absolute;
  width: 421px;
  height: 521px;
  top: 92px;
  left: 440px;
}

.entry5 .ellipse-8 {
  position: absolute;
  width: 303px;
  height: 158px;
  top: 139px;
  left: 502px;
  background-color: #cee253ad;
  border-radius: 151.5px/79px;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .group-2 {
  position: absolute;
  width: 318px;
  height: 69px;
  top: 321px;
  left: 502px;
}

.entry5 .ellipse-9 {
  position: absolute;
  width: 133px;
  height: 69px;
  top: 0;
  left: 0;
  background-color: #cee253ad;
  border-radius: 66.5px/34.5px;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .ellipse-10 {
  position: absolute;
  width: 133px;
  height: 69px;
  top: 0;
  left: 185px;
  background-color: #cee253ad;
  border-radius: 66.5px/34.5px;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .ellipse-11 {
  position: absolute;
  width: 185px;
  height: 69px;
  top: 451px;
  left: 704px;
  background-color: #cee253ad;
  border-radius: 92.37px/34.5px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(-62.79deg);
}

.entry5 .ellipse-12 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 449px;
  left: 717px;
  background-color: #cee253ad;
  border-radius: 8px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(-90deg);
}

.entry5 .ellipse-13 {
  position: absolute;
  width: 185px;
  height: 69px;
  top: 450px;
  left: 418px;
  background-color: #cee253ad;
  border-radius: 92.37px/34.5px;
  border: 1px solid;
  border-color: #7a8a15;
  transform: rotate(-117.21deg);
}

.entry5 .ellipse-14 {
  width: 133px;
  height: 49px;
  top: 510px;
  left: 592px;
  border-radius: 66.5px/24.5px;
  position: absolute;
  background-color: #cee253ad;
  border: 1px solid;
  border-color: #7a8a15;
}

.entry5 .ellipse-15 {
  width: 85px;
  height: 57px;
  top: 414px;
  left: 616px;
  border-radius: 42.5px/28.5px;
  transform: rotate(-90deg);
  position: absolute;
  background-color: #cee253ad;
  border: 1px solid;
  border-color: #7a8a15;
}



  .entry6 {
    background-color: #fff9c5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   }
   .entry6 .div {
    background-color: #fff9c5;
    width: 100%;
    height: 4706px;
    position: relative;
   }
   .entry6 .line {
    position: absolute;
    width: 1327px;
    height: 5px;
    top: 152px;
    left: 92px;
   }
   .entry6 .arrow {
    position: absolute;
    width: 61px;
    height: 52px;
    top: 54px;
    left: 88px;
   }
   .entry6 .text-wrapper {
    position: absolute;
    width: 1309px;
    height: 178px;
    top: 251px;
    left: 101px;
    font-family: "STIX Two Text";
    font-weight: 700;
    color: #000000;
    font-size: 160px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
   }

   .entry6 .p {
    position: absolute;
    height: 45px;
    top: 1362px;
    left: 128px;
    font-family: "STIX Two Text";
    font-weight: 700;
    color: #000000;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
    white-space: nowrap;
   }
   .entry6 .group {
    position: absolute;
    width: 100%;
    height: 592px;
    top: 464px;
    left: 0;
   }
   .entry6 .text-wrapper-2 {
    position: absolute;
    width: 1182px;
    height: 474px;
    top: 1535px;
    left: 203px;
    font-family: "Sunflower";
    font-weight: 300;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 45px;
   }
   .entry6 .img {
    position: absolute;
    width: 1428px;
    height: 386px;
    top: 2044px;
    left: 50px;
   }
   .entry6 .text-wrapper-3 {
    position: absolute;
    width: 763px;
    height: 808px;
    top: 2692px;
    left: 135px;
    font-family: "Sunflower";
    font-weight: 300;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 45px;
   }
   .entry6 .group-2 {
    position: absolute;
    width: 325px;
    height: 371px;
    top: 3103px;
    left: 1018px;
   }
   .entry6 .overlap-group {
    position: absolute;
    width: 1512px;
    height: 990px;
    top: 3716px;
    left: 0;
    background-color: #f0c966;
   }
 
   .entry6 .group-3 {
    position: absolute;
    width: 495px;
    height: 565px;
    top: 295px;
    left: 499px;
   }

   .entry6 .group-4 {
    position: absolute;
    width: 252px;
    height: 727px;
    top: 230px;
    left: 27px;
   }

   .entry6 .group-5 {
    position: absolute;
    width: 233px;
    height: 754px;
    top: 201px;
    left: 1217px;
   }
 
  .entry6 .text-wrapper-4 {
  position: absolute;
  top: 82px;
  left: 225px;
  font-family: "STIX Two Text";
  font-weight: 700;
  color: #000000;
  font-size: 90px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  }
   
.entry7 {
  background-color: #ecb187;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry7 .div {
  background-color: #ecb187;
  overflow: hidden;
  width: 100%;
  height: 4249px;
  position: relative;
}

.entry7 .overlap {
  position: absolute;
  width: 1633px;
  height: 3176px;
  top: 0;
  left: -61px;
}

.entry7 .overlap-group {
  position: absolute;
  width: 1633px;
  height: 2405px;
  top: 0;
  left: 0;
}

.entry7 .rectangle {
  position: absolute;
  width: 100%;
  height: 995px;
  top: 1030px;
  left: 61px;
  background-color: #ffe7d1;
}

.entry7 .group {
  position: absolute;
  width: 352px;
  height: 447px;
  top: 0;
  left: 1220px;
}

.entry7 .img {
  position: absolute;
  width: 356px;
  height: 528px;
  top: 532px;
  left: 61px;
}

.entry7 .group-2 {
  position: absolute;
  width: 503px;
  height: 487px;
  top: 165px;
  left: 157px;
}

.entry7 .group-3 {
  position: absolute;
  width: 538px;
  height: 513px;
  top: 578px;
  left: 1035px;
}

.entry7 .group-4 {
  position: absolute;
  width: 705px;
  height: 715px;
  top: 1303px;
  left: 868px;
}

.entry7 .text-wrapper {
  position: absolute;
  width: 756px;
  height: 572px;
  top: 1200px;
  left: 169px;
  font-family: "Proza Libre";
  font-weight: 400;
  color: #d69d73;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.entry7 .group-5 {
  position: absolute;
  width: 399px;
  height: 313px;
  top: 381px;
  left: 1009px;
}

.entry7 .group-6 {
  position: absolute;
  width: 425px;
  height: 214px;
  top: 0px;
  left: 796px;
}

.entry7 .group-7 {
  position: absolute;
  width: 277px;
  height: 331px;
  top: 18px;
  left: 61px;
}

.entry7 .text-wrapper-2 {
  position: absolute;
  width: 1633px;
  height: 649px;
  top: 536px;
  left: 0;
  font-family: "Poller One";
  font-weight: 400;
  color: #ffe7d2;
  font-size: 170px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry7 .group-8 {
  position: absolute;
  width: 408px;
  height: 484px;
  top: 1921px;
  left: 1165px;
}

.entry7 .overlap-2 {
  position: absolute;
  width: 1404px;
  height: 925px;
  top: 2251px;
  left: 169px;
}

.entry7 .p {
  position: absolute;
  width: 891px;
  height: 432px;
  top: 0;
  left: 0;
  font-family: "Proza Libre-Regular", Helvetica;
  font-weight: 400;
  color: #fff0e4;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.entry7 .group-9 {
  position: absolute;
  width: 291px;
  height: 244px;
  top: 199px;
  left: 947px;
}

.entry7 .group-10 {
  position: absolute;
  width: 557px;
  height: 630px;
  top: 295px;
  left: 847px;
}

.entry7 .text-wrapper-3 {
  position: absolute;
  width: 823px;
  height: 312px;
  top: 2741px;
  left: 169px;
  font-family: "Proza Libre";
  font-weight: 400;
  color: #fff1e4;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.entry7 .div-wrapper {
  position: absolute;
  width: 100%;
  height: 233px;
  top: 3288px;
  left: 0;
  background-color: #ffe7d2;
}

.entry7 .text-wrapper-4 {
  position: absolute;
  top: 62px;
  left: 121px;
  font-family: "Poller One";
  font-weight: 400;
  color: #e3a67a;
  font-size: 90px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.entry7 .vector {
  position: absolute;
  width: 494px;
  height: 606px;
  top: 3589px;
  left: 489px;
}

.entry8 {
  background-color: #f08686;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry8 .div {
  background-color: #f08686;
  width: 100%;
  height: 4947px;
  position: relative;
}

.entry8 .line {
  position: absolute;
  width: 1327px;
  height: 5px;
  top: 152px;
  left: 92px;
}

.entry8 .arrow {
  position: absolute;
  width: 61px;
  height: 52px;
  top: 63px;
  left: 88px;
}

.entry8 .overlap {
  position: absolute;
  width: 100%;
  height: 971px;
  top: 205px;
  left: 0;
}

.entry8 .text-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Martel Sans";
  font-weight: 900;
  color: #000000;
  font-size: 150px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry8 .rectangle {
  position: absolute;
  width: 1305px;
  height: 711px;
  top: 260px;
  left: 103px;
  border: 5px solid;
  border-color: #000000;
}

.entry8 .group {
  position: absolute;
  width: 752px;
  height: 632px;
  top: 300px;
  left: 422px;
}

.entry8 .overlap-group {
  position: absolute;
  width: 1193px;
  height: 1256px;
  top: 1425px;
  left: 148px;
}

.entry8 .img {
  position: absolute;
  width: 244px;
  height: 255px;
  top: 0;
  left: 0;
}

.entry8 .group-2 {
  position: absolute;
  width: 284px;
  height: 224px;
  top: 992px;
  left: 909px;
}

.entry8 .vector {
  position: absolute;
  width: 888px;
  height: 864px;
  top: 148px;
  left: 245px;
}

.entry8 .vector-2 {
  position: absolute;
  width: 814px;
  height: 834px;
  top: 230px;
  left: 119px;
}

.entry8 .tasseography-is-an {
  position: absolute;
  width: 809px;
  top: 261px;
  left: 235px;
  font-family: "Inter";
  font-weight: 400;
  color: #000000;
  font-size: 41px;
  letter-spacing: 0;
  line-height: normal;
}

.entry8 .overlap-2 {
  position: absolute;
  width: 100%;
  height: 1008px;
  top: 2878px;
  left: 0;
  background-color: #000000;
}

.entry8 .tasseography-evolved {
  position: absolute;
  width: 978px;
  top: 303px;
  left: 265px;
  font-family: "Inter";
  font-weight: 400;
  color: #f08686;
  font-size: 41px;
  letter-spacing: 0;
  line-height: normal;
}

.entry8 .group-3 {
  position: absolute;
  width: 181px;
  height: 174px;
  top: 164px;
  left: 1180px;
}

.entry8 .text-wrapper-2 {
  position: absolute;
  top: 3950px;
  left: 237px;
  font-family: "Martel Sans";
  font-weight: 900;
  color: #000000;
  font-size: 90px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry8 .overlap-group-2 {
  position: absolute;
  width: 1048px;
  height: 693px;
  top: 4145px;
  left: 237px;
}

.entry8 .group-4 {
  position: absolute;
  width: 405px;
  height: 367px;
  top: 0;
  left: 346px;
}

.entry8 .group-5 {
  position: absolute;
  width: 405px;
  height: 367px;
  top: 326px;
  left: 643px;
}

.entry8 .group-6 {
  position: absolute;
  width: 405px;
  height: 367px;
  top: 326px;
  left: 0;
}

.entry9 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry9 .div {
  background-color: #ffffff;
  width: 100%;
  height: 4947px;
  position: relative;
  overflow: hidden;
}

.entry9 .line {
  position: absolute;
  width: 1327px;
  height: 5px;
  top: 184px;
  left: 92px;
}

.entry9 .arrow {
  position: absolute;
  width: 61px;
  height: 52px;
  top: 80px;
  left: 88px;
}

.entry9 .overlap {
  position: absolute;
  width: 648px;
  height: 817px;
  top: 272px;
  left: 786px;
  background-color: #eb7da5;
}

.entry9 .group {
  position: absolute;
  width: 272px;
  height: 719px;
  top: 1px;
  left: 188px;
}

.entry9 .text-wrapper {
  position: absolute;
  top: 477px;
  left: 88px;
  font-family: "Lilita One";
  font-weight: 400;
  color: #000000;
  font-size: 130px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#sketch-holder {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.entry9 .p {
  position: absolute;
  width: 660px;
  top: 702px;
  left: 78px;
  font-family: "Livvic";
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.entry9 .img {
  position: absolute;
  width: 344px;
  height: 48px;
  top: 635px;
  left: 237px;
}

.entry9 .overlap-group {
  position: absolute;
  width: 348px;
  height: 730px;
  top: 2703px;
  left: 1018px;
}

.entry9 .group-2 {
  position: absolute;
  width: 232px;
  height: 730px;
  top: 0;
  left: 0;
}

.entry9 .group-3 {
  position: absolute;
  width: 232px;
  height: 730px;
  top: 0;
  left: 116px;
}

.entry9 .group-4 {
  position: absolute;
  width: 287px;
  height: 567px;
  top: 4273px;
  left: 610px;
}

.entry9 .group-5 {
  position: absolute;
  width: 48px;
  height: 344px;
  top: 1655px;
  left: 188px;
}

.entry9 .group-6 {
  position: absolute;
  width: 48px;
  height: 344px;
  top: 1655px;
  left: 1240px;
}

.entry9 .a-weighted-object {
  position: absolute;
  width: 921px;
  top: 1485px;
  left: 292px;
  font-family: "Livvic";
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.entry9 .the-usage-of {
  position: absolute;
  width: 806px;
  top: 2577px;
  left: 140px;
  font-family: "Livvic";
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.entry9 .text-wrapper-2 {
  position: absolute;
  top: 3983px;
  left: 316px;
  font-family: "Lilita One";
  font-weight: 400;
  color: #000000;
  font-size: 90px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.entry9 .group-7 {
  position: absolute;
  width: 344px;
  height: 48px;
  top: 3896px;
  left: 584px;
}

.entry9 .group-8 {
  position: absolute;
  width: 344px;
  height: 48px;
  top: 4127px;
  left: 584px;
}



.entry10 {
  background-color: #f2e5ef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entry10 .div {
  background-color: #f2e5ef;
  overflow: hidden;
  width: 1512px;
  height: 4433px;
  position: relative;
}

.entry10 .overlap {
  position: absolute;
  width: 1512px;
  height: 1002px;
  top: 0;
  left: 0;
  background-color: #e18bce;
}

.entry10 .overlap-group {
  position: absolute;
  width: 1327px;
  height: 684px;
  top: 231px;
  left: 92px;
}

.entry10 .overlap-2 {
  position: absolute;
  width: 347px;
  height: 359px;
  top: 325px;
  left: 979px;
}

.entry10 .group {
  position: absolute;
  width: 287px;
  height: 266px;
  top: 93px;
  left: 61px;
}

.entry10 .vector {
  position: absolute;
  width: 126px;
  height: 95px;
  top: 183px;
  left: 0;
}

.entry10 .img {
  position: absolute;
  width: 106px;
  height: 133px;
  top: 0;
  left: 83px;
}

.entry10 .overlap-3 {
  position: absolute;
  width: 1312px;
  height: 657px;
  top: 0;
  left: 0;
}

.entry10 .BONE-CASTING {
  position: absolute;
  width: 755px;
  top: 291px;
  left: 20px;
  font-family: "Montserrat Alternates";
  font-weight: 900;
  color: #ffffff;
  font-size: 150px;
  letter-spacing: 0;
  line-height: normal;
}

.entry10 .vector-2 {
  position: absolute;
  width: 405px;
  height: 289px;
  top: 0px;
  left: 646px;
}

.entry10 .vector-3 {
  position: absolute;
  width: 405px;
  height: 289px;
  top: 0;
  left: 0;
}

.entry10 .group-2 {
  position: absolute;
  width: 313px;
  height: 292px;
  top: 27px;
  left: 0;
}

.entry10 .vector-4 {
  position: absolute;
  width: 104px;
  height: 119px;
  top: 203px;
  left: 727px;
}

.entry10 .vector-5 {
  position: absolute;
  width: 89px;
  height: 130px;
  top: 185px;
  left: 1223px;
}

.entry10 .vector-6 {
  position: absolute;
  width: 106px;
  height: 116px;
  top: 93px;
  left: 985px;
}

.entry10 .vector-7 {
  position: absolute;
  width: 59px;
  height: 145px;
  top: 261px;
  left: 1180px;
}

.entry10 .vector-8 {
  position: absolute;
  width: 163px;
  height: 153px;
  top: 39px;
  left: 1073px;
}

.entry10 .vector-9 {
  position: absolute;
  width: 106px;
  height: 72px;
  top: 38px;
  left: 129px;
}

.entry10 .vector-10 {
  position: absolute;
  width: 59px;
  height: 145px;
  top: 358px;
  left: 978px;
}

.entry10 .line {
  top: 141px;
  left: 92px;
  position: absolute;
  width: 1327px;
  height: 5px;
}

.entry10 .arrow {
  position: absolute;
  width: 61px;
  height: 52px;
  top: 54px;
  left: 88px;
}

.entry10 .overlap-4 {
  position: absolute;
  width: 1512px;
  height: 1002px;
  top: 3431px;
  left: 2px;
  background-color: #e18bce;
}

.entry10 .line-2 {
  top: 204px;
  left: 90px;
  position: absolute;
  width: 1327px;
  height: 5px;
}

.entry10 .text-wrapper {
  position: absolute;
  top: 68px;
  left: 187px;
  font-family: "Montserrat Alternates";
  font-weight: 900;
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.entry10 .overlap-wrapper {
  position: absolute;
  width: 585px;
  height: 415px;
  top: 406px;
  left: 462px;
}

.entry10 .overlap-5 {
  position: relative;
  width: 590px;
  height: 420px;
  top: -3px;
  left: -3px;
}

.entry10 .vector-11 {
  position: absolute;
  width: 12px;
  height: 47px;
  top: 342px;
  left: 526px;
}

.entry10 .vector-12 {
  position: absolute;
  width: 590px;
  height: 420px;
  top: 0;
  left: 0;
}

.entry10 .group-3 {
  position: absolute;
  width: 1344px;
  height: 170px;
  top: 1274px;
  left: 68px;
}

.entry10 .vector-13 {
  position: absolute;
  width: 77px;
  height: 96px;
  top: 2392px;
  left: 720px;
}

.entry10 .p {
  position: absolute;
  width: 1154px;
  top: 1528px;
  left: 182px;
  font-family: "Mulish";
  font-weight: 400;
  color: #cb71b7;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.entry10 .text-wrapper-2 {
  position: absolute;
  width: 1154px;
  top: 2682px;
  left: 182px;
  font-family: "Mulish";
  font-weight: 400;
  color: #cb71b7;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}